# Flutter build outputs
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Flutter web
web/icons/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.*
!.env.example
